form {
    background-color: #00bcd4;
}

.cajaCorreo {
    background-color: #e0f7fa;
}

h1 {
    color: white;
}

form {
    background-color: #e0f7fa;
}

.container {
    background-color: #e0f7fa;
}

.card {
    min-height: 300px;
    background-color: #00bcd4;
    /* sirve para hacer mas largo el formulario */
}

.btn-primary {
    background-color: #00bcd4 !important;
    /* Color del boton ingresar*/
    border-color: #ff6f61 !important;
}