.tabla{
    display: grid;
    height: 220px;
    width: 800px;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
}

.fila{
    background-color: rgb(194, 194, 194);
    display: grid;
    height: 20px;
    width: 800px;
    grid-template-columns: auto auto auto auto auto auto auto auto;

}
.celda{
    height: 11px;
    width: auto;
    border: 1px solid aqua;
}